<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @cocktails.each do |cocktail| %>
        <%= link_to cocktail.name, cocktail  %>
      <% end %>
    </div>
  </div>
</div>



